<div class="container">
  <br>
  <h3>Edit Article</h3>

  <%= form_for :article, url: article_path(@article), method: :patch  do |f| %>
    <% if @article && @article.errors.any? %>
      <p class="lead">
      <ul>
        <% @article.errors.full_messages.each do |msg|%>
          <li><%=msg%></li>
        <% end %>
      </ul>
      </p>
    <% end %>
    <p class="lead">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p class="lead">
      <%= f.label :text %>
      <%= f.text_area :text %>
    </p>
    <p class="lead">
      <%= f.submit %>
    </p>
  <% end %>
</div>