<div class="container">
  <%= form_for :article, url: article_path(@article), method: :patch  do |f| %>
    <% if @article && @article.errors.any? %>
      <p class="lead">
      <ul>
        <% @article.errors.full_messages.each do |msg|%>
          <li><%=msg%></li>
        <% end %>
      </ul>
      </p>
    <% end %>

    <p class="lead">
      <%= f.label :text, 'Edit your article:'%> <br>
      <%= f.text_area :text, :rows => '5', :cols => '50'%>
    </p>
    <p class="lead">
      <%= f.submit 'Yarr!', :class => 'btn btn-primary' %>
    </p>
  <% end %>
</div>