<div class="container">
  <br>
  <blockquote class="blockquote">
    <%@articles.each do |article|%>
      <p>
      <p class="mb-0"><%=article.text%></p>
      <footer class="blockquote-footer"><cite title="Source Title">Posted by: <strong><%=article.title%></strong> at: <strong><%=article.created_at%></strong></cite></footer>
      </p>

      <p class="font-weight-light">
        <%= link_to 'Show', article_path(article)%> |
        <%= link_to 'Edit', edit_article_path(article)%> |
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>

      </p>
      <hr>
    <% end %>
  </blockquote>

  <br>
  <a href="/articles/new" class="btn btn-primary">Create Article</a>

</div>