<div class="container">
  <br>
  <h3>New Article</h3>

  <%= form_for :article, url: articles_path do |f| %>
    <% if @article && @article.errors.any? %>
      <p class="lead">
      <ul>
        <% @article.errors.full_messages.each do |msg|%>
          <li><%=msg%></li>
        <% end %>
      </ul>
      </p>
    <% end %>
    <p class="lead">
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
    </p>
    <p class="lead">
      <%= f.label :text %> <br>
      <%= f.text_area :text %>
    </p>
    <p class="lead">
      <%= f.submit %>
    </p>
  <% end %>
</div>